Use master
DROP DATABASE Assignment_ducttpt00033
GO
CREATE DATABASE Assignment_ducttpt00033
Go
USE Assignment_ducttpt00033
Go
CREATE TABLE PHONG_BAN( 
MA_PHONG varchar(20) PRIMARY KEY,
TEN_PHONG nvarchar(40) NOT NULL
)
CREATE TABLE QUYEN_HAN(
MA_QUYEN_HAN int PRIMARY KEY,
TEN_QUYEN_HAN nvarchar(20)
)
CREATE TABLE NHAN_VIEN(
MA_NHAN_VIEN varchar(10) PRIMARY KEY,
HO_TEN nvarchar(100) NOT NULL,
DIA_CHI nvarchar(100) NOT NULL,
SDT varchar(12) NOT NULL,
PHONG_BAN varchar(20) REFERENCES PHONG_BAN(MA_PHONG),
)

CREATE TABLE DANG_NHAP(
TEN_DANG_NHAP varchar(20) PRIMARY KEY,
MAT_KHAU varchar(20) NOT NULL,
QUYEN_HAN int REFERENCES QUYEN_HAN(MA_QUYEN_HAN),
PHONG_BAN varchar(20) REFERENCES PHONG_BAN(MA_PHONG)
)
CREATE TABLE CHAM_CONG(
MA_CHAM_CONG int PRIMARY KEY,
THONG_TIN nvarchar(60) NOT NULL
)
CREATE TABLE CHI_TIET_CHAM_CONG(
MA_NHAN_VIEN varchar(10) REFERENCES NHAN_VIEN(MA_NHAN_VIEN),
NGAY_THANG SMALLDATETIME NOT NULL,
CHAM_CONG int REFERENCES CHAM_CONG(MA_CHAM_CONG)
PRIMARY KEY (MA_NHAN_VIEN, NGAY_THANG)
)

USE Assignment_ducttpt00033
GO

--- Thêm dữ liệu cho bảng PHONG_BAN
INSERT INTO PHONG_BAN
VALUES('P01', N'Phòng ban 1')
INSERT INTO PHONG_BAN
VALUES('P02', N'Phòng ban 2')
INSERT INTO PHONG_BAN
VALUES('P03', N'Phòng ban 3')

--- Thêm dữ liệu cho bảng QUYEN_HAN
INSERT INTO QUYEN_HAN
VALUES(1,'Administrator')
INSERT INTO QUYEN_HAN
VALUES(2,'Manager')

--- Thêm dữ liệu cho bảng NHAN_VIEN
INSERT INTO NHAN_VIEN
VALUES('NV001', N'Nhân viên 01',N'Hà Nội','0904666251','P01')
INSERT INTO NHAN_VIEN
VALUES('NV002', N'Nhân viên 02',N'Hà Nội','0904666251','P01')
INSERT INTO NHAN_VIEN
VALUES('NV003', N'Nhân viên 03',N'Hà Nội','0904666251','P01')

--- Thêm dữ liệu cho bảng DANG_NHAP
INSERT INTO DANG_NHAP
VALUES('admin','admin',1,'P01')
INSERT INTO DANG_NHAP
VALUES('truongphong1','12345678',2,'P01')
INSERT INTO DANG_NHAP
VALUES('truongphong2','12345678',2,'P02')

--- Thêm dữ liệu cho bảng CHAM_CONG
INSERT INTO CHAM_CONG
VALUES (1, N'Một ngày công')
INSERT INTO CHAM_CONG
VALUES (2, N'Không ngày công')
INSERT INTO CHAM_CONG
VALUES (3, N'Nửa ngày công')

--- Thêm dữ liệu cho bảng CHI_TIET_CHAM_CONG
INSERT INTO CHI_TIET_CHAM_CONG
VALUES('NV001','8/9/2012',2)
INSERT INTO CHI_TIET_CHAM_CONG
VALUES('NV002','8/9/2012',1)
INSERT INTO CHI_TIET_CHAM_CONG
VALUES('NV003','8/9/2012',1)
